################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/语法基础/语法基础/Debug
/语法基础/Debug
/语法基础/.vs/语法基础/v14
/语法基础/ipch/语法基础-524ea054
/语法基础/语法基础.VC.VC.opendb
